PORT=5000
MONGO_URI=mongodb+srv://ecart:1234@myecommerce.n9mqsxk.mongodb.net/ecommerce?retryWrites=true&w=majority
JWT_SECRET=replace_this_with_a_long_random_secret
JWT_EXPIRES_IN=7d
NODE_ENV=development